.chat-main
  .main-header
    .header-leftbox
      %h2.current-group
        text
      %ul.member-list
        Member :
        %li.member-first
          test
    = link_to "#" do
      .edit-btn
        Edit
  .messages
  .main-form
