* {
  box-sizing: border-box;
}



.wrapper {
  display: flex;
  .chat-main {
    width: calc(100% - 300px); 
    background-color:#fafafa ;
    /* メインヘッター */
    .main-header{
      height: 100px;
      background-color: #ffffff;
      border-bottom: 1px solid #eeeeee;
      display: flex;
      padding: 0 40px;
      align-items: center;
      justify-content: space-between;
      .current-group{
        color: #333333;
        margin-top: 35px;
        margin-bottom: 15px;
        font-size: 20px;
      }
      a {
        text-decoration: none;
        .edit-btn{
          font-size: 16px;
          color: #38aef0;
          padding: 15px 20px;
          margin-right: 40px;
          border: 1px solid #38aef0;
        }
      }
      .member-list{
        font-size: 12px;
        color: #999999;
        display: flex;
        list-style: none;
        .member-first{
          margin-left: 5px;
        }
      }
    }
  }
  /* メインメッセージ */
  .messages{
    background-color: #fafafa;
    height: calc(100vh - 190px);
    margin-top: 35px;
    padding-left: 40px;
    .message-top{
      display: flex;
      .message-group{
        margin-right: 5px;
        font-size: 16px;
        color: #333333;
        }
      .message-list{
        color: #999999;
        font-size: 12px;
        }
    }
    .message-center{
      padding-top: 12px;
      padding-bottom: 46px;
      .message-first{
        font-size: 12px;
        color: #434a54;
      }
    }
    .message-under{
      display: flex;
      .message-under__first{
        margin-right: 5px;
        font-size: 16px;
        color: #333333;
      }
      .message-under__list{
        color: #999999;
        font-size: 12px;
      }
    }
    .message-following{
      padding-top: 12px;
      padding-bottom: 46px;
      .message-following__list{
        font-size: 12px;
        color: #434a54;
      }
    }
  }

  /* フォーム */
  .form {
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;
  }
  .form__message{
    border: none;
    float: left;
    height: 50px;
    width: calc(100% - 150px);
  }
  .form__mask{
    background-color: white;
    float: left;
    height: 50px;
    padding-right: 10px;
  }
  .form__mask__image{
    font-size: 20px;
    line-height: 50px;
  }
  .hidden {
    display: none;
  }
  .form__submit{
    background-color: skyblue;
    color: white;
    float: right;
    font-size: 16px;
    height: 50px;
    margin-left: 15px;
    padding: 0 30px;
  }
  
  /* サイド */
  .chat-side {
    width: 300px;
    background-color:#2f3e51;
    .side-header{
      height: 100px;
      background-color: #253141;
      align-items: center;
      display: flex;
      &__box{
        height: 20px;
        width: 260px;
        margin: 0px 20px;
        display: flex;
        justify-content: space-between;
      &__username{
        color: white;
        font-size: 16px;
      }
        &__menu{  
          display: flex;
        }
        &__edit-user{
          margin-right: 5px;
            a {
              color: white;
            }
          }
        &__user-group{
          a {
            color: white;
          }
        }
      }
    }
  }
}

/* サイドグループ */
.groups {
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 20px 20px 0;
  box-sizing: border-box;
  .group{
    color: white;
    text-decoration: none;
    .group_group-name{
      margin-top: 20px;
      font-size: 15px;
      margin-bottom: 5px;
    }
    .group_latest-message{
      font-size: 11px;
      margin-bottom: 40px;
    }
  }
}
